/bootstrap/compiled.php
/vendor/
/public/sitemap.xml
/app/config/packages
/public/packages

/build/logs
/build/coverage
/app/tests/_log

composer.phar
.DS_Store
node_modules
.env
.idea
public/css/app.css.map
database/mavama.sqlite
.idea/workspace.xml